<div class="main">
  <div class="d-flex align-items-center gap-2">
    <input type="datetime-local" #input class="inputDate" />
    <a href="#" class="liq">
      <span class="liqu" (click)="calculate(input)">
        Calculate
      </span>
      <div class="liquid"></div>
    </a>

    <section>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>

    </section>

  </div>

  <app-countdown-timer></app-countdown-timer>
</div>